<div class="hero">
</div>
<div class="page-content">
  <div class="hero-content-wrapper">
    <div class="hero-content">
      <div class="header">
        <div class="site-name">
          <p>Apa3</p>
        </div>
        <div class="nav-wrapper">
          <div class="nav">
            <div class="nav-item">
              <button>Documents</button>
              <div class="dropdown-content document-dropdown">
                <a target="_blank" href="/assets/docs/2020-APA-Ford-EAD.pages.pdf">Original project description</a>
                <a target="_blank" href="/assets/docs/APA3-SRS.pdf">SRS</a>
                <a href="/drive/1sN6R-y5WXBLRv0SNRZNco5sIED3CbD4HtjvOmTHE5Io">Bibliography</a>
              </div>
            </div>
            <div class="nav-item">
              <button>Activity</button>
              <div class="dropdown-content activity-dropdown">
                <a href="/prototype">Prototype</a>
                <a href="/drive">Drive</a>
              </div>
            </div>
            <div class="nav-item">
              <button class="about-btn">About</button>
              <div class="dropdown-content about-dropdown">
                <a href="#project-background">Project background</a>
                <a href="#project-description">Project description</a>
                <a href="#team-composition">Team Composition</a>
                <a href="#course-information">Course Information</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-text-wrapper">
        <div class="hero-text">
          <p>Active Park Assist</p>
          <p>(APA)</p>
          <p id="team">Project team 3</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-section" id="project-background">
    <div class="section-header">
      <h3>Project Background</h3>
    </div>
    <div class="section-content">
      <p>Cars have cameras and sensors for a variety of safety features. One additional way these can be used is with automatic parking assist. Pulling in to a parking spot correctly can be stressful, especially for parallel parking, and this feature can take that stress away from the driver. </p>
    </div>
  </div>
  <div class="home-section" id="project-description">
    <div class="section-header">
      <h3>Project Description</h3>
    </div>
    <div class="section-content">
      <p>The Active Park Assist system is a feature that allows a vehicle to automatically park itself in either a parallel or perpendicular parking space and mitigate any risks that are associate with human-controlled parking.</p>
      <p>The Active Park Assist will be integrated with the existing Ford vehicles and customers will also be able to transfer control of the vehicle to the Ford Pass app on their cell.</p>
      <p>Since driver-controlled parking regularly leads to property damage due to a driver's inability to determine obstacles that may be in the paths of their vehicle, by installing depth-perception cameras onto the vehicle and integrating functionality that supports the steering, accelerating, and breaking functionalities of the vehicle, the ability to park is streamlined for a driver.</p>
      <p>The Active Park Assist system will be able to provide the ability for a user to automatically park upon activation of the feature. </p>
    </div>
  </div>
  <div class="home-section" id="team-composition">
    <div class="section-header">
      <h3>Team Composition</h3>
    </div>
    <div class="section-content team-members">
      <div class="team-member">
        <div class="member-image">
          <img src="/assets/img/emma.png" alt="Emma Hettinger">
        </div>
        <div class="member-info">
          <ul>
            <li class="member-name">Emma Hettinger</li>
            <li class="member-role">Project Manager</li>
            <li>Senior, Computer Science, MSU</li>
            <li><a target="_blank" href="https://www.linkedin.com/in/emma-hettinger-68366518b/"><svg aria-hidden="true" class="global-nav__logo" xmlns="http://www.w3.org/2000/svg" width="34" height="34" data-supported-dps="34x34" focusable="false">
              <g transform="scale(.3)" fill="none" fill-rule="evenodd">
                <rect class="bug-text-color" fill="#FFF" x="1" y="1" width="46" height="46" rx="4"></rect>
                <path d="M0 4.01A4.01 4.01 0 014.01 0h39.98A4.01 4.01 0 0148 4.01v39.98A4.01 4.01 0 0143.99 48H4.01A4.01 4.01 0 010 43.99V4.01zM19 18.3h6.5v3.266C26.437 19.688 28.838 18 32.445 18 39.359 18 41 21.738 41 28.597V41.3h-7V30.159c0-3.906-.937-6.109-3.32-6.109-3.305 0-4.68 2.375-4.68 6.109V41.3h-7v-23zM7 41h7V18H7v23zm8-30.5a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0z" class="background" fill="#0077B5"></path>
              </g>
            </svg></a></li>
          </ul>
        </div>
      </div>
      <div class="team-member">
        <div class="member-image">
          <img src="/assets/img/george.png" alt="George Pauls">
        </div>
        <div class="member-info">
          <ul>
            <li class="member-name">George Pauls </li>
            <li class="member-role">Project Facilitator</li>
            <li>Senior, Computer Engineering, MSU</li>
            <li><a target="_blank" href="https://www.linkedin.com/mwlite/in/george-pauls-a07a441b7"><svg aria-hidden="true" class="global-nav__logo" xmlns="http://www.w3.org/2000/svg" width="34" height="34" data-supported-dps="34x34" focusable="false">
              <g transform="scale(.3)" fill="none" fill-rule="evenodd">
                <rect class="bug-text-color" fill="#FFF" x="1" y="1" width="46" height="46" rx="4"></rect>
                <path d="M0 4.01A4.01 4.01 0 014.01 0h39.98A4.01 4.01 0 0148 4.01v39.98A4.01 4.01 0 0143.99 48H4.01A4.01 4.01 0 010 43.99V4.01zM19 18.3h6.5v3.266C26.437 19.688 28.838 18 32.445 18 39.359 18 41 21.738 41 28.597V41.3h-7V30.159c0-3.906-.937-6.109-3.32-6.109-3.305 0-4.68 2.375-4.68 6.109V41.3h-7v-23zM7 41h7V18H7v23zm8-30.5a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0z" class="background" fill="#0077B5"></path>
              </g>
            </svg></a></li>
          </ul>
        </div>
      </div>
      <div class="team-member">
        <div class="member-image">
          <img src="/assets/img/amtullah.png" alt="Amtullah Naalwala">
        </div>
        <div class="member-info">
          <ul>
            <li class="member-name">Amtullah Naalwala</li>
            <li class="member-role">Domain Expert / Customer Liaison</li>
            <li>Senior, Computer Science, MSU</li>
            <li><a target="_blank" href="https://www.linkedin.com/in/amtullahnaalwala/"><svg aria-hidden="true" class="global-nav__logo" xmlns="http://www.w3.org/2000/svg" width="34" height="34" data-supported-dps="34x34" focusable="false">
              <g transform="scale(.3)" fill="none" fill-rule="evenodd">
                <rect class="bug-text-color" fill="#FFF" x="1" y="1" width="46" height="46" rx="4"></rect>
                <path d="M0 4.01A4.01 4.01 0 014.01 0h39.98A4.01 4.01 0 0148 4.01v39.98A4.01 4.01 0 0143.99 48H4.01A4.01 4.01 0 010 43.99V4.01zM19 18.3h6.5v3.266C26.437 19.688 28.838 18 32.445 18 39.359 18 41 21.738 41 28.597V41.3h-7V30.159c0-3.906-.937-6.109-3.32-6.109-3.305 0-4.68 2.375-4.68 6.109V41.3h-7v-23zM7 41h7V18H7v23zm8-30.5a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0z" class="background" fill="#0077B5"></path>
              </g>
            </svg></a></li>
          </ul>
        </div>
      </div>
      <div class="team-member">
        <div class="member-image">
          <img src="/assets/img/joe.png" alt="Joe Hayes">
        </div>
        <div class="member-info">
          <ul>
            <li class="member-name">Joe Hayes</li>
            <li class="member-role">Security Manager</li>
            <li>Senior, Computer Science, MSU</li>
            <li><a target="_blank" href="https://www.linkedin.com/in/joseph-allan-hayes-35a8341b9?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bo5%2BuRTzJSXiqOQ67yRQXWw%3D%3D"><svg aria-hidden="true" class="global-nav__logo" xmlns="http://www.w3.org/2000/svg" width="34" height="34" data-supported-dps="34x34" focusable="false">
              <g transform="scale(.3)" fill="none" fill-rule="evenodd">
                <rect class="bug-text-color" fill="#FFF" x="1" y="1" width="46" height="46" rx="4"></rect>
                <path d="M0 4.01A4.01 4.01 0 014.01 0h39.98A4.01 4.01 0 0148 4.01v39.98A4.01 4.01 0 0143.99 48H4.01A4.01 4.01 0 010 43.99V4.01zM19 18.3h6.5v3.266C26.437 19.688 28.838 18 32.445 18 39.359 18 41 21.738 41 28.597V41.3h-7V30.159c0-3.906-.937-6.109-3.32-6.109-3.305 0-4.68 2.375-4.68 6.109V41.3h-7v-23zM7 41h7V18H7v23zm8-30.5a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0z" class="background" fill="#0077B5"></path>
              </g>
            </svg></a></li>
          </ul>
        </div>
      </div>
      <div class="team-member">
        <div class="member-image">
          <img src="/assets/img/daniel.png" alt="Daniel Adu-Djan">
        </div>
        <div class="member-info">
          <ul>
            <li class="member-name">Daniel Adu-Djan</li>
            <li class="member-role">Artifacts Manager</li>
            <li>Junior, Computer Science, MSU</li>
            <li><a target="_blank" href="https://www.linkedin.com/in/daniel-adu-djan/"><svg aria-hidden="true" class="global-nav__logo" xmlns="http://www.w3.org/2000/svg" width="34" height="34" data-supported-dps="34x34" focusable="false">
              <g transform="scale(.3)" fill="none" fill-rule="evenodd">
                <rect class="bug-text-color" fill="#FFF" x="1" y="1" width="46" height="46" rx="4"></rect>
                <path d="M0 4.01A4.01 4.01 0 014.01 0h39.98A4.01 4.01 0 0148 4.01v39.98A4.01 4.01 0 0143.99 48H4.01A4.01 4.01 0 010 43.99V4.01zM19 18.3h6.5v3.266C26.437 19.688 28.838 18 32.445 18 39.359 18 41 21.738 41 28.597V41.3h-7V30.159c0-3.906-.937-6.109-3.32-6.109-3.305 0-4.68 2.375-4.68 6.109V41.3h-7v-23zM7 41h7V18H7v23zm8-30.5a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0z" class="background" fill="#0077B5"></path>
              </g>
            </svg></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="home-section" id="course-information">
    <div class="section-header">
      <h3>Course Information</h3>
    </div>
    <div class="section-content course-information">
      <ul>
        <li>Course website: <a target="_blank" href="https://www.cse.msu.edu/~cse435/">https://www.cse.msu.edu/~cse435/</a></li>
        <li>Instructor: <a target="_blank" href="http://www.cse.msu.edu/~chengb/">Dr. Betty H.C. Cheng</a></li>
      </ul>
    </div>
  </div>
</div>
