<iframe src="https://docs.google.com/document/d/160Hltg69Udr7_dMCauk110O6-3LcATKH5opwIlnfSV8/preview?ouid=114901462607028832488"></iframe>
<div [ngClass]="{
        menu: true,
        hide: menuHidden
    }">
    <div class="menu-content">
        <div class="menu-items">
            <ul>
                <li>File 1</li>
                <li>File 1</li>
                <li>File 1</li>
                <li>File 1</li>
            </ul>
        </div>
    </div>
    <div class="show-hide-button-container">
        <button (click)="toggleMenuDisplay()"></button>
    </div>
</div>