<body>
    <div class="hero">
    </div>
    <div class="hero-content-wrapper">
      <div class="hero-content">
        <div class="header">
          <div class="site-name">
            <p>Apa3</p>
          </div>
          <div class="nav-wrapper">
            <div class="nav">
              <div class="nav-item">
                <button>Documents</button>
                <div class="dropdown-content document-dropdown">
                  <a href="#">Original project description</a>
                  <a href="#">SRS</a>
                  <a href="#">Prototype</a>
                  <a href="#">Bibliography</a>
                </div>
              </div>
              <div class="nav-item">
                <button>Activity</button>
                <div class="dropdown-content activity-dropdown">
                  <a href="#">Agendas</a>
                  <a href="#">Minutes</a>
                </div>
              </div>
              <div class="nav-item">
                <button class="about-btn">About</button>
                <div class="dropdown-content about-dropdown">
                  <a href="#">Project background</a>
                  <a href="#">Project description</a>
                  <a href="#">Team Composition</a>
                  <a href="#">Course Information</a>
                </div>
              </div>
            </div>
          </div>
          <div class="some-login-stuff">
            <p>-------</p>
          </div>
        </div>

        <div class="hero-text-wrapper">
          <div class="hero-text">
            <p>Active Park Assist</p>
            <p>(APA)</p>
            <p id="team">Project team 3</p>
          </div>
        </div>
      </div>
    </div>
