.main-content {
    position: absolute;
    width: 100%;
    height: 100%;
}
.no-display {
    display: none;
}
.perpendicular-park .vehicle-wrap.parked-1 {
    top: 5%;
}
.perpendicular-park .vehicle-wrap.parked-2 {
    top: 20%;
}
.perpendicular-park .vehicle-wrap.parked-3 {
    top: 35%;
}
.perpendicular-park .vehicle-wrap.parked-4 {
    top: 50%;
}
.perpendicular-park .vehicle-wrap.parked-5 {
    top: 65%;
}
.perpendicular-park .vehicle-wrap.parked-6 {
    top: 80%;
}
.perpendicular-park .vehicle-wrap-parking {
    left: 40%;
}
.parallel-park .vehicle-wrap.parked-1 {
    top: 10%;
}
.parallel-park .vehicle-wrap.parked-2 {
    top: 40%;
}
.parallel-park .vehicle-wrap.parked-3 {
    top: 70%;
}
.parallel-park .vehicle-wrap {
    left: 45%;
}
.perpendicular-park .vehicle-wrap {
    left: 55%;
}
.parallel-park .vehicle-wrap-parking {
    left: 35%;
}
.vehicle-wrap {
    width: 200px;
    height: 90px;
}
.vehicle-wrap.parked-1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vehicle-wrap.parked-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spot-a {
    background-color: rgba(36, 36, 36, 0.08);
}
.vehicle-wrap.parked-3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spot-b {
    background-color: rgba(36, 36, 36, 0.08);
}
.vehicle-wrap.parked-4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vehicle-wrap.parked-5 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vehicle-wrap.parked-6 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perpendicular-park .vehicle-wrap {
    transform: rotate(180deg);
}
.parallel-park .vehicle-wrap {
    transform: rotate(90deg);
}
.vehicle-wrap-parking {
    position: absolute;
    top: 100%;
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}
.vehicle {
    position: absolute;
    width: 100%;
}
@media only screen and (max-width: 1050px) {
    .parallel-park .vehicle-wrap-parking {
        left: 30%;
    }
    .perpendicular-park .vehicle-wrap-parking {
        left: 20%;
    }
}
@media only screen and (max-width: 650px) {
    .vehicle-wrap {
        width: 150px;
        height: 80px;
    }
    .vehicle-wrap-parking {
        position: absolute;
        top: 100%;
        width: 150px;
        height: 80px;
    }
    .parallel-park .vehicle-wrap-parking {
        left: 15%;
    }
    .parallel-park .vehicle-wrap {
        left: 45%;
    }
    .perpendicular-park .vehicle-wrap {
        left: 55%;
    }
    .perpendicular-park .vehicle-wrap-parking {
        left: 10%;
    }
}
@media only screen and (max-width: 350px) {
    .vehicle-wrap {
        width: 100px;
        height: 45px;
    }
    .vehicle-wrap-parking {
        position: absolute;
        top: 100%;
        width: 100px;
        height: 45px;
    }
    .parallel-park .vehicle-wrap-parking {
        left: 25%;
    }
    .parallel-park .vehicle-wrap {
        left: 45%;
    }
    .perpendicular-park .vehicle-wrap {
        left: 55%;
    }
    .perpendicular-park .vehicle-wrap-parking {
        left: 20%;
    }
}