<div class="main-content">
    <div [ngClass]="{
        'perpendicular-park': parkingType === 'perpendicular',
        'no-display': parkingType !== 'perpendicular'
    }">
        <div class="vehicle-wrap parked-1">
            <img class="vehicle" src="/assets/img/vehicle.png">
        </div>
        <div class="vehicle-wrap parked-2">
            <img class="vehicle" src="/assets/img/vehicle.png">
        </div>
        <div [ngClass]="{
            'vehicle-wrap': true, 
            'parked-3': true, 
            'spot': showSpots && scenario !== 'no-spots-scenario', 
            'spot-a': showSpots && spot === 'A'
        }">
            <img class="vehicle" *ngIf="scenario === 'no-spots-scenario'" src="/assets/img/vehicle.png">
            <p class="spot-label" *ngIf="showSpots">A</p>
        </div>
        <div class="vehicle-wrap parked-4">
            <img class="vehicle" src="/assets/img/vehicle.png">
        </div>
        <div [ngClass]="{
            'vehicle-wrap': true, 
            'parked-5': true, 
            'spot': showSpots && scenario !== 'no-spots-scenario', 
            'spot-a': showSpots && spot === 'B'
        }">
            <p class="spot-label" *ngIf="showSpots">B</p>
        </div>
        <div class="vehicle-wrap parked-6">
            <img class="vehicle" src="/assets/img/vehicle.png">
        </div>
        <div [@prepPerpendicularPark]="parkingType === 'perpendicular' && scenario !== 'no-spots-scenario' ? 'perpendicular-park-before-parking' : 'perpendicular-park-start'"  
            (@prepPerpendicularPark.done)="prepParkDone($event)"
            [@prepPerpendicularParkNoSpots]="parkingType === 'perpendicular' && scenario === 'no-spots-scenario' ? 'perpendicular-park-before-parking-no-spots' : 'perpendicular-park-start-no-spots'" 
            (@prepPerpendicularParkNoSpots.done)="prepParkDone($event)"
            [@completePerpendicularParkA]="parkingType === 'perpendicular' && spot === 'A' && park ? 'perpendicular-park-final-A' : 'perpendicular-park-before-parking'"  
            (@completePerpendicularParkA.done)="parkDone($event)"
            class="vehicle-wrap-parking"
            >
            <img class="vehicle" src="/assets/img/vehicle.png">
        </div>
    </div>
    <div [ngClass]="{
        'parallel-park': parkingType === 'parallel',
        'no-display': parkingType !== 'parallel'
    }">
        <div class="vehicle-wrap parked-1">
            <img class="vehicle" src="/assets/img/vehicle.png">
        </div>
        <div [ngClass]="{
            'vehicle-wrap': true, 
            'parked-2': true,
            'spot': showSpots && scenario !== 'no-spots-scenario'
        }">
            <div [ngClass]="{'spot-a': showSpots && spot === 'A', 'same-size-wrapper': true}">
                <img class="vehicle" *ngIf="scenario === 'no-spots-scenario'" src="/assets/img/vehicle.png">
                <p class="spot-label" *ngIf="showSpots">A</p>
            </div>
        </div>
        <div class="vehicle-wrap parked-3">
            <img class="vehicle" src="/assets/img/vehicle.png">
        </div>
        <div [@prepParallelPark]="parkingType === 'parallel' ? 'parallel-park-before-parking' : 'parallel-park-start'"  
            (@prepParallelPark.done)="prepParkDone($event)"
            [@completeParallelPark]="parkingType === 'parallel' && spot === 'A' && park ? 'parallel-park-final' : 'parallel-park-before-parking'"  
            (@completeParallelPark.done)="parkDone($event)"
            class="vehicle-wrap-parking"
            >
            <img class="vehicle" src="/assets/img/vehicle.png">
        </div>
    </div>
</div>
